In [1]:
l=[{"name":"jay","age":3},{"name":"vedha","age":2}]
def check_age(data):
    pass

In [2]:
class Person:
    pass
jay = Person()
print(jay, type(jay))

<__main__.Person object at 0x000001FD92FCB3D0> <class '__main__.Person'>

In [4]:
class Person:
    pass
jay = Person()
jay.name="Jayaram"
jay.age=3
vedha = Person()
vedha.name="Vedhanvesh"
vedha.age=2
print(jay.__dict__, vedha.__dict__)

{'name': 'Jayaram', 'age': 3} {'name': 'Vedhanvesh', 'age': 2}

In [5]:
class Person:
    pass
jay = Person()
jay.name="Jayaram"
jay.age=3
vedha = Person()
vedha.name="Vedhanvesh"
vedha.age=2
print(jay.name)

Jayaram

In [6]:
class Person:
    pass
jay = Person()
jay.name="Jayaram"
jay.age=3
vedha = Person()
vedha.name="Vedhanvesh"
vedha.age=2
print(jay.name)
vedha.adhar="adhar_vedha"
print(vedha.adhar)
print(jay.adhar)

Jayaram
adhar_vedha

AttributeError: 'Person' object has no attribute 'adhar'

In [7]:
def set_data(inst, name, age, adhar=None):
    inst.name=name
    inst.age=age
    inst.adhar=adhar
def get(inst):
    return inst.name,inst.age,inst.adhar
class Person:
    pass
jay = Person()
set_data(jay, "jayaram",3)
vedha = Person()
set_data(vedha, "Vedhanvesh",2,"vedha_adhar")
# bassed on this write a get method.
print(get(jay))
print(get(vedha))

('jayaram', 3, None)
('Vedhanvesh', 2, 'vedha_adhar')

In [ ]:
class Emp:
    company_name="Khyaathi"
    def set_data(inst, name, age, adhar=None):
        inst.name=name
        inst.age=age
        inst.adhar=adhar
    
    def get(inst):
        return inst.name,inst.age,inst.adhar

jay = Person()
set_data(jay, "jayaram",3)
vedha = Person()
set_data(vedha, "Vedhanvesh",2,"vedha_adhar")
# bassed on this write a get method.
print(get(jay))
print(get(vedha))

In [8]:
class Emp:
    company_name="Khyaathi"
    def set_data(inst, name, age, adhar=None):
        inst.name=name
        inst.age=age
        inst.adhar=adhar
    
    def get(inst):
        return inst.name,inst.age,inst.adhar

jay = Person()
vedha = Person()
Emp.set_data(jay, "jayaram",3)
Emp.set_data(vedha, "Vedhanvesh",2,"vedha_adhar")
# bassed on this write a get method.
print(Emp.get(jay))
print(Emp.get(vedha))

('jayaram', 3, None)
('Vedhanvesh', 2, 'vedha_adhar')

In [10]:
class Emp: #(class object)
    company_name="Khyaathi"
    def set_data(inst, name, age, adhar=None):
        inst.name=name
        inst.age=age
        inst.adhar=adhar
    
    def get(inst):
        return inst.name,inst.age,inst.adhar

jay = Emp() #(data object)
vedha = Emp()#(data object)
jay.set_data("jayaram",3)
#Emp.set_data(jay, "jayaram",3)
vedha.set_data("Vedhanvesh",2,"vedha_adhar")
#Emp.set_data(vedha, "Vedhanvesh",2,"vedha_adhar")
print(jay.get())
#print(Emp.get(jay))
print(vedha.get())
#print(Emp.get(vedha))

('jayaram', 3, None)
('Vedhanvesh', 2, 'vedha_adhar')

In [11]:
class Emp:
    company_name="Khyaathi"
    def set_data(inst, name, age, adhar=None):
        inst.name=name
        inst.age=age
        inst.adhar=adhar
    
    def get(inst):
        return inst.name,inst.age,inst.adhar
jay = Emp() 
vedha = Emp()
jay.set_data("jayaram",3)
vedha.set_data("Vedhanvesh",2,"vedha_adhar")
print(jay.get())
print(vedha.get())

('jayaram', 3, None)
('Vedhanvesh', 2, 'vedha_adhar')

In [13]:
class Emp:
    company_name="Khyaathi"
    def set_data(inst, name, age, adhar=None):
        inst.name=name
        inst.age=age
        inst.adhar=adhar
    
    def get(inst):
        return inst.name,inst.age,inst.adhar
jay = Emp() 
vedha = Emp()
jay.set_data("jayaram",3)
vedha.set_data("Vedhanvesh",2,"vedha_adhar")
print(jay.get())
print(vedha.get())
print(Emp.company_name)

('jayaram', 3, None)
('Vedhanvesh', 2, 'vedha_adhar')
Khyaathi

In [14]:
class Emp:
    company_name="Khyaathi"
    def set_data(inst, name, age, adhar=None):
        inst.name=name
        inst.age=age
        inst.adhar=adhar
    
    def get(inst):
        return inst.name,inst.age,inst.adhar
jay = Emp() 
vedha = Emp()
jay.set_data("jayaram",3)
vedha.set_data("Vedhanvesh",2,"vedha_adhar")
print(jay.get())
print(vedha.get())
print(Emp.company_name)
print(jay.company_name)
print(vedha.company_name)

('jayaram', 3, None)
('Vedhanvesh', 2, 'vedha_adhar')
Khyaathi
Khyaathi
Khyaathi

In [15]:
class Emp:
    company_name="Khyaathi"
    def set_data(inst, name, age, adhar=None):
        inst.name=name
        inst.age=age
        inst.adhar=adhar
    
    def get(inst):
        return inst.name,inst.age,inst.adhar
jay = Emp() 
vedha = Emp()
jay.set_data("jayaram",3)
vedha.set_data("Vedhanvesh",2,"vedha_adhar")
print(jay.get())
print(vedha.get())
print(Emp.company_name)
print(jay.company_name)
print(vedha.company_name)
print(Emp.name)

('jayaram', 3, None)
('Vedhanvesh', 2, 'vedha_adhar')
Khyaathi
Khyaathi
Khyaathi

AttributeError: type object 'Emp' has no attribute 'name'

In [17]:
class Emp:
    company_name="Khyaathi"
    def set_data(inst, name, age, adhar=None):
        inst.name=name
        inst.age=age
        inst.adhar=adhar
    
    def get(inst):
        return inst.name,inst.age,inst.adhar,inst.company_name
jay = Emp() 
vedha = Emp()
jay.set_data("jayaram",3)
vedha.set_data("Vedhanvesh",2,"vedha_adhar")
print(jay.get())
print(vedha.get())

('jayaram', 3, None, 'Khyaathi')
('Vedhanvesh', 2, 'vedha_adhar', 'Khyaathi')

In [19]:
class Emp:
    company_name="Khyaathi"
    def set_data(inst, name, age, sal,leaves=0, adhar=None):
        inst.name=name
        inst.age=age
        inst.adhar=adhar
        inst.sal=sal
        inst.leaves=leaves
    
    def get(inst):
        return inst.name,inst.age,inst.adhar,inst.company_name,inst.sal_calc()
    
    def sal_calc(inst):
        per_day = inst.sal//30
        leaves_sal = 0
        if inst.leaves:
            leaves_sal = inst.leaves*per_day
        return inst.sal-leaves_sal
        
        
        
jay = Emp() 
vedha = Emp()
jay.set_data(name="jayaram",age=30,sal=120000)
vedha.set_data(name="Vedhanvesh",age=26,adhar="vedha_adhar",sal=100000,leaves=3)
print(jay.get())
print(vedha.get())

('jayaram', 30, None, 'Khyaathi', 120000)
('Vedhanvesh', 26, 'vedha_adhar', 'Khyaathi', 90001)

In [20]:
# write a class for any entity which you have a strong knowledge

In [1]:
# write a calss for a taxi services.

In [3]:
class Emp:
    company_name="Khyaathi"
    def set_data(self, name, age, sal,leaves=0, adhar=None):
        self.name=name
        self.age=age
        self.adhar=adhar
        self.sal=sal
        self.leaves=leaves
    
    def get(self):
        return self.name,self.age,self.adhar,self.company_name,self.sal_calc()
    
    def sal_calc(self):
        per_day = self.sal//30
        leaves_sal = 0
        if self.leaves:
            leaves_sal = self.leaves*per_day
        return self.sal-leaves_sal     
jay = Emp() 
vedha = Emp()
jay.set_data(name="jayaram",age=30,sal=120000)
vedha.set_data(name="Vedhanvesh",age=26,adhar="vedha_adhar",sal=100000,leaves=3)
print(jay.get())
print(vedha.get())

('jayaram', 30, None, 'Khyaathi', 120000)
('Vedhanvesh', 26, 'vedha_adhar', 'Khyaathi', 90001)

In [5]:
class Emp:
    company_name="Khyaathi"
    def set_data(self, name, age, sal,leaves=0, adhar=None):
        self.name=name
        self.age=age
        self.adhar=adhar
        self.sal=sal
        self.leaves=leaves
    
    def get(self):
        return self.name,self.age,self.adhar,self.company_name,self.sal_calc()
    
    def sal_calc(self):
        per_day = self.sal//30
        leaves_sal = 0
        if self.leaves:
            leaves_sal = self.leaves*per_day
        return self.sal-leaves_sal     
jay = Emp() 
vedha = Emp()
jay.set_data(name="jayaram",age=30,sal=120000)
vedha.set_data(name="Vedhanvesh",age=26,adhar="vedha_adhar",sal=100000,leaves=3)
print(jay.get())
print(vedha.get())
sai = Emp()
print(sai.get())

('jayaram', 30, None, 'Khyaathi', 120000)
('Vedhanvesh', 26, 'vedha_adhar', 'Khyaathi', 90001)

AttributeError: 'Emp' object has no attribute 'name'

In [6]:
class Emp:
    print("this is emp")

this is emp

In [7]:
class Emp:
    print("this is emp")
    def get(self):
        print("this is get")

this is emp

In [8]:
class Emp:
    print("this is emp")
    def get(self):
        print("this is get")
        
    def __init__(self):
        print("this is init")

this is emp

In [9]:
class Emp:
    print("this is emp")
    def get(self):
        print("this is get")
        
    def __init__(self):
        print("this is init")

jay=Emp()

this is emp
this is init

In [10]:
class Emp:
    print("this is emp")
    def get(self):
        print("this is get")
        
    def __init__(self):
        print("this is init")

jay=Emp()
vedha = Emp()
sai = Emp()

this is emp
this is init
this is init
this is init

In [11]:
class Emp:
    print("this is emp")
    def get(self):
        print("this is get")
        
    def __init__(self):
        print("this is init")

jay=Emp()
"""
it will call the __new__ method, this method returns the data object. this data object will be initialized to jay
by using this data object it will call init method: dataobject.__init__()
"""
vedha = Emp()
sai = Emp()

this is emp
this is init
this is init
this is init

In [13]:
class Emp:
    print("this is emp")
    def get(self):
        print("this is get")
        
    def __init__(self, name, age):
        print("this is init")
        self.name=name
        self.age=age

jay=Emp("jayaram",3)
"""
it will call the __new__ method, this method returns the data object.
by using this data object it will call init method: dataobject.__init__("jayaram",3)
"""
print("")

this is emp
this is init

In [14]:
class Emp:
    company_name="Khyaathi"
    def __init__(self, name, age, sal,leaves=0, adhar=None):
        self.name=name
        self.age=age
        self.adhar=adhar
        self.sal=sal
        self.leaves=leaves
    
    def get(self):
        return self.name,self.age,self.adhar,self.company_name,self.sal_calc()
    
    def sal_calc(self):
        per_day = self.sal//30
        leaves_sal = 0
        if self.leaves:
            leaves_sal = self.leaves*per_day
        return self.sal-leaves_sal     
jay = Emp(name="jayaram",age=30,sal=120000) 
vedha = Emp(name="Vedhanvesh",age=26,adhar="vedha_adhar",sal=100000,leaves=3)
print(jay.get())
print(vedha.get())

('jayaram', 30, None, 'Khyaathi', 120000)
('Vedhanvesh', 26, 'vedha_adhar', 'Khyaathi', 90001)

In [15]:
class Emp:
    company_name="Khyaathi"
    def __init__(self, name, age, sal,leaves=0, adhar=None):
        self.name=name
        self.age=age
        self.adhar=adhar
        self.sal=sal
        self.leaves=leaves
    
    def get(self):
        return self.name,self.age,self.adhar,self.company_name,self.sal_calc()
    
    def sal_calc(self):
        per_day = self.sal//30
        leaves_sal = 0
        if self.leaves:
            leaves_sal = self.leaves*per_day
        return self.sal-leaves_sal     
jay = Emp(name="jayaram",age=30,sal=120000) 
vedha = Emp(name="Vedhanvesh",age=26,adhar="vedha_adhar",sal=100000,leaves=3)
print(jay.get())
print(vedha.get())
sai = Emp()

('jayaram', 30, None, 'Khyaathi', 120000)
('Vedhanvesh', 26, 'vedha_adhar', 'Khyaathi', 90001)

TypeError: __init__() missing 3 required positional arguments: 'name', 'age', and 'sal'

In [17]:
class Emp:
    company_name="Khyaathi"
    def __init__(self, name, age, sal,leaves=0, adhar=None):
        self.name=name
        self.age=age
        self.adhar=adhar
        self.sal=sal
        self.leaves=leaves
        return "sdfsdf"
    
    def get(self):
        return self.name,self.age,self.adhar,self.company_name,self.sal_calc()
    
    def sal_calc(self):
        per_day = self.sal//30
        leaves_sal = 0
        if self.leaves:
            leaves_sal = self.leaves*per_day
        return self.sal-leaves_sal     
jay = Emp(name="jayaram",age=30,sal=120000) 
vedha = Emp(name="Vedhanvesh",age=26,adhar="vedha_adhar",sal=100000,leaves=3)
print(jay.get())
print(vedha.get())

TypeError: __init__() should return None, not 'str'

In [18]:
class Emp:
    company_name="Khyaathi"
    def __init__(self, name, age, sal,leaves=0, adhar=None):
        self.name=name
        self.age=age
        self.adhar=adhar
        self.sal=sal
        self.leaves=leaves
    
    def get(self):
        return self.name,self.age,self.adhar,self.company_name,self.sal_calc()
    
    def sal_calc(self):
        per_day = self.sal//30
        leaves_sal = 0
        if self.leaves:
            leaves_sal = self.leaves*per_day
        return self.sal-leaves_sal     
jay = Emp(name="jayaram",age=30,sal=120000) 
vedha = Emp(name="Vedhanvesh",age=26,adhar="vedha_adhar",sal=100000,leaves=3)
print(jay.get())
print(vedha.get())

('jayaram', 30, None, 'Khyaathi', 120000)
('Vedhanvesh', 26, 'vedha_adhar', 'Khyaathi', 90001)

In [19]:
# write a class to take three numbers(x,y,z) and write methods for operations: summation, multiplication, division.
# write operations method to call all the operations.
class Math:
    def __init__(self,a,b,c):
        self.x=a
        self.y=b
        self.z=c
        
    def add(self): # self=o1
        return self.x+self.y+self.z
    def sub(self):
        return self.x-self.y-self.z
    def mul(self):
        return self.x*self.y*self.z
    
o1 = Math(10,20,30) # it will add x=10,y=20,z=30 attributes to o1.
print(o1.add()) # Math.add(o1)
print(o1.sub())

print(o1.mul())

60
-40
6000

In [20]:
# write a class to take three numbers(x,y,z) and write methods for operations: summation, multiplication, division.
# write operations method to call all the operations.
class Math:
    def __init__(self,a,b,c):
        self.x=a
        self.y=b
        self.z=c
        
    def add(self): # self=o1
        return self.x+self.y+self.z
    def sub(self):
        return self.x-self.y-self.z
    def mul(self):
        return self.x*self.y*self.z
    def operations(self):
        return (self.add(), self.mul(), self.sub())
    
o1 = Math(10,20,30) # it will add x=10,y=20,z=30 attributes to o1.
o1.operations() # Math.operations(o1)

(60, 6000, -40)

In [21]:
# write a class to take three numbers(x,y,z) and write methods for operations: summation, multiplication, division.
# write operations method to call all the operations.
class Math:
    def __init__(self,a,b,c):
        self.x=a
        self.y=b
        self.z=c
        
    def add(self): # self=o1
        return self.x+self.y+self.z
    def sub(self):
        return self.x-self.y-self.z
    def mul(self):
        return self.x*self.y*self.z
    def operations(self):
        return {"sum":self.add(), "sub":self.mul(), "mul":self.sub()}
    
o1 = Math(10,20,30) # it will add x=10,y=20,z=30 attributes to o1.
o1.operations() # Math.operations(o1)

{'sum': 60, 'sub': 6000, 'mul': -40}

In [25]:
# write a class to take three numbers(x,y,z) and write methods for operations: summation, multiplication, division.
# write operations method to call all the operations.
from collections import namedtuple
class Math:
    def __init__(self,a,b,c):
        self.x=a
        self.y=b
        self.z=c
        
    def add(self): # self=o1
        return self.x+self.y+self.z
    def sub(self):
        return self.x-self.y-self.z
    def mul(self):
        return self.x*self.y*self.z
    def operations(self):
        res = namedtuple("Result",["sum","sub","mul"])
        return res(self.add(), self.sub(), self.mul())
    
o1 = Math(10,20,30) # it will add x=10,y=20,z=30 attributes to o1.
o1.operations() # Math.operations(o1)

Result(sum=60, sub=-40, mul=6000)

In [1]:
class Person:
    def __init__(self, name, dob, adhar=None):
        self.name=name
        self.dob=dob
        self.adhar=adhar
    def get(self):
        return self.name, self.dob,self.adhar
    def change_name(self, new_name):
        self.name=new_name
    def get_age(self):
        return 2
        
class Employee:
    def __init__(self, name, dob, empid,adhar=None):
        self.name=name
        self.dob=dob
        self.empid=empid
        self.adhar=adhar
    def get_emp(self):
        return self.name, self.dob,self.adhar, self.empid
    def get_employee_age(self):
        return 20
    
class Student:
    def __init__(self, name, dob, school, studentid, adhar=None):
        self.name=name
        self.dob=dob
        self.adhar=adhar
        self.school=school
        self.studentid=studentid
    def get_student(self):
        return self.name, self.dob,self.adhar, self.school, self.studentid
    
    def get_student_age(self):
        return 20

In [3]:
class Person:
    def __init__(self, name, dob, adhar=None):
        self.name=name
        self.dob=dob
        self.adhar=adhar
    def get(self):
        return self.name, self.dob,self.adhar
    def change_name(self, new_name):
        self.name=new_name
    def get_age(self):
        return 2
        
class Employee:
    def __init__(self, name, dob, empid,adhar=None):
        self.name=name
        self.dob=dob
        self.empid=empid
        self.adhar=adhar
    def change_name(self, new_name):
        p=Person(self.name,self.dob)
        return p.change_name(new_name)
    
class Student:
    def __init__(self, name, dob, school, studentid, adhar=None):
        self.name=name
        self.dob=dob
        self.adhar=adhar
        self.school=school
        self.studentid=studentid
jay = Employee("jayaram","2000-01-01","123")
jay.change_name("JAYARAM")
print(jay.name)

jayaram

In [4]:
class Person:
    def __init__(self, name, dob, adhar=None):
        self.name=name
        self.dob=dob
        self.adhar=adhar
    def get(self):
        return self.name, self.dob,self.adhar
    def change_name(self, new_name):
        self.name=new_name
    def get_age(self):
        return 2
        
class Employee(Person):
    def __init__(self, name, dob, empid,adhar=None):
        Person.__init__(self,name,dob,adhar)
        self.empid=empid
    
class Student:
    def __init__(self, name, dob, school, studentid, adhar=None):
        self.name=name
        self.dob=dob
        self.adhar=adhar
        self.school=school
        self.studentid=studentid
jay = Employee("jayaram","2000-01-01","123")
jay.change_name("JAYARAM")
print(jay.name)

JAYARAM

In [ ]:
class Person:
    def __init__(self, name, dob, adhar=None):
        self.name=name
        self.dob=dob
        self.adhar=adhar
    def get(self):
        return self.name, self.dob,self.adhar
    def change_name(self, new_name):
        self.name=new_name
    def get_age(self):
        return 2
        
class Employee(Person):
    def __init__(self, name, dob, empid,adhar=None):
        Person.__init__(self,name,dob,adhar)
        self.empid=empid
    
class Student:
    def __init__(self, name, dob, school, studentid, adhar=None):
        Person.__init__(self,name,dob,adhar)
        self.school=school
        self.studentid=studentid
jay = Employee("jayaram","2000-01-01","123")
jay.change_name("JAYARAM")
print(jay.name)

In [2]:
class DB:
    def __init__(self, data):
        self.data=data
    def insert(self):
        print("inserting the data")
class Employee(DB):
    pass
class Student(DB):
    pass
e1=Employee({"name":"jay","age":23})
s1=Student({"name":"jay","age":12})

e1.insert()
s1.insert()

inserting the data
inserting the data

In [3]:
class DB:
    def __init__(self, data):
        self.data=data
    def insert(self):
        print("inserting the data")
class Employee(DB):
    def validate_insert(self):
        if self.data.get("age")>19:
            print("inserting the data")
        else:
            print("invalid data")
class Student(DB):
    pass
e1=Employee({"name":"jay","age":23})
s1=Student({"name":"jay","age":12})
e2=Employee({"name":"jay","age":18})
e1.validate_insert()
s1.insert()
e2.validate_insert()

inserting the data
inserting the data
invalid data

In [4]:
class DB:
    def __init__(self, data):
        self.data=data
    def insert(self):
        print("inserting the data")
class Employee(DB):
    def validate_insert(self):
        if self.data.get("age")>19:
            self.insert()
        else:
            print("invalid data")
class Student(DB):
    pass
e1=Employee({"name":"jay","age":23})
s1=Student({"name":"jay","age":12})
e2=Employee({"name":"jay","age":18})
e1.validate_insert()
s1.insert()
e2.validate_insert()

inserting the data
inserting the data
invalid data

In [5]:
class DB:
    def __init__(self, data):
        self.data=data
    def insert(self):
        print("inserting the data")
class Employee(DB):
    def validate_insert(self):
        if self.data.get("age")>19:
            self.insert()
        else:
            print("invalid data")
class Student(DB):
    pass
e1=Employee({"name":"jay","age":23})
s1=Student({"name":"jay","age":12})
e2=Employee({"name":"jay","age":18})
e1.validate_insert()
s1.insert()
e2.validate_insert()
e3=Employee({"name":"name","age":12})
e3.insert()

inserting the data
inserting the data
invalid data
inserting the data

In [ ]:
class DB:
    def __init__(self, data):
        self.data=data
    def insert(self):
        print("inserting the data")
class Employee(DB):
    def insert(self):
        if self.data.get("age")>19:
            self.insert# it becomes an infinite function calls, i.e calling the same class method: inseert in insert
        else:
            print("invalid data")
class Student(DB):
    pass
e1=Employee({"name":"jay","age":23})
s1=Student({"name":"jay","age":12})
e2=Employee({"name":"jay","age":18})
e1.validate_insert()
s1.insert()
e2.validate_insert()
e3=Employee({"name":"name","age":12})
e3.insert()

In [8]:
class DB:
    def __init__(self, data):
        self.data=data
    def insert(self):
        print("inserting the data")
class Employee(DB):
    def insert(self):
        if self.data.get("age")>19:
            DB.insert(self)
        else:
            print("invalid data")
class Student(DB):
    pass
e1=Employee({"name":"jay","age":23})
s1=Student({"name":"jay","age":12})
e2=Employee({"name":"jay","age":18})
e1.insert()
s1.insert()
e2.insert()
e3=Employee({"name":"name","age":12})
e3.insert()

inserting the data
inserting the data
invalid data
invalid data

In [9]:
class DB:
    def __init__(self, data):
        self.data=data
    def insert(self):
        print("inserting the data")
class Employee(DB):
    def insert(self):
        # overriding insert method in Employee
        if self.data.get("age")>19:
            #DB.insert(self)
            super(Employee,self).insert()
        else:
            print("invalid data")
class Student(DB):
    pass
e1=Employee({"name":"jay","age":23})
s1=Student({"name":"jay","age":12})
e2=Employee({"name":"jay","age":18})
e1.insert()
s1.insert()
e2.insert()
e3=Employee({"name":"name","age":12})
e3.insert()

inserting the data
inserting the data
invalid data
invalid data

In [10]:
# method overloading
class DB:
    def __init__(self, name,age,adhar=None, *data, **context):
        self.name=name
        self.age=age
        self.adhar=adhar
        self.data=data
        self.context=context
        
d1=DB(name="jay",age=3)
d2=DB(name="vedha",age=2,adhar="sdfsdfd")
d3=DB(name="sai",age=32,adhar="sdfsd",passport="23525")

In [12]:
#operator overloading
a=10
b=20
print(a+b) # +
s1="python"
s2="program"
print(s1+s2) # +
l1=[1,2,3,4]
l2=[5,6,7,8]
print(l1+l2) # +
c1=1+2j #+
c2=2+3j #+
print(c1+c2) #+

30
pythonprogram
[1, 2, 3, 4, 5, 6, 7, 8]
(3+5j)

In [13]:
d1={1:2,3:4}
d2={5:6,7:8}
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [14]:
a=10
b=20
print(a+b)
# operator overloading
class DB:
    def __init__(self, name,age,adhar=None, *data, **context):
        self.name=name
        self.age=age
        self.adhar=adhar
        self.data=data
        self.context=context
        
d1=DB(name="jay",age=3)
d2=DB(name="vedha",age=2,adhar="sdfsdfd")
print(d1+d2)

30

TypeError: unsupported operand type(s) for +: 'DB' and 'DB'

In [15]:
a=10
a=int(10)

In [16]:
a=int(10)
b=int(10)
print(a+b)

20

In [17]:
a=list("123")
b=list("345")
a+b

['1', '2', '3', '3', '4', '5']

In [18]:
a=10
b=20
print(a+b)
# operator overloading
class DB:
    def __init__(self, name,age,adhar=None, *data, **context):
        self.name=name
        self.age=age
        self.adhar=adhar
        self.data=data
        self.context=context
    def __add__(self1,self2): # meta methods, 
        return 20
        
d1=DB(name="jay",age=3)
d2=DB(name="vedha",age=2,adhar="sdfsdfd")
print(d1+d2)

30
20

In [19]:
a=10
print(dir(a))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [20]:
a=10
b=20
print(a+b)
# operator overloading
class DB:
    def __init__(self, name,age,adhar=None, *data, **context):
        self.name=name
        self.age=age
        self.adhar=adhar
        self.data=data
        self.context=context
    def __add__(self1,self2): # meta methods, 
        return {"name":self1.name+self2.name}
        
d1=DB(name="jay",age=3)
d2=DB(name="vedha",age=2,adhar="sdfsdfd")
print(d1+d2)

30
{'name': 'jayvedha'}

In [21]:
class DB:
    def __init__(self, name):
        self.name=name
    def __add__(self1,self2): # meta methods, 
        return {"name":self1.name+self2.name}
    def __sub__(self1,self2):
        return "were"
    def __mul__(self1,self2):
        return "MUL"
        
d1=DB(name="jay")
d2=DB(name="vedha")
print(d1+d2)
print(d1-d2)
print(d1*d2)

{'name': 'jayvedha'}
were
MUL

In [22]:
for i in "pyton":
    print(i)

p
y
t
o
n

In [24]:
for i in 10:
    print(i)

TypeError: 'int' object is not iterable

In [25]:
class DB:
    def __init__(self, name):
        self.name=name
        
        
d1=DB(name="jay")
for i in d1:
    print(i)

TypeError: 'DB' object is not iterable

In [27]:
class DB:
    def __init__(self, name):
        self.name=name
    def __iter__(self):
        print("hi")
        yield 10
        print("hello")
        yield 20 
        print("bye")
        yield 30
        
d1=DB(name="jay")
for i in d1:
    print("i=",i)

hi
i= 10
hello
i= 20
bye
i= 30

In [32]:
class DB:
    def __init__(self, name,age):
        self.name=name
        self.age=age
    def __iter__(self):
        for atr in self.__dict__.items():
            yield atr
        
d1=DB(name="jay",age=3)
for i in d1:
    print("i=",i)

i= ('name', 'jay')
i= ('age', 3)

In [33]:
d1.__dict__

{'name': 'jay', 'age': 3}

In [34]:
# write your own dictionary class, which will exactly work like a dictionary with this aditional functionality
# 1: it should work for +
# 2: when we iterate it should give values, not the keys
d1={1:2}
d2={1:3}
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [36]:
dict([(1,2),(4,3)])

{1: 2, 4: 3}

In [37]:
class OwnDict(dict):
    def __add__(self1,self2):
        return 20
d1 = OwnDict([(1,2)])
d2 = OwnDict([(3,4)])
print(d1)
print(d2)

{1: 2}
{3: 4}

In [38]:
class OwnDict(dict):
    def __add__(self1,self2):
        return 20
    def __str__(self):
        return "30"
d1 = OwnDict([(1,2)])
d2 = OwnDict([(3,4)])
print(d1)
print(d2)

30
30

In [39]:
class OwnDict(dict):
    def __add__(self1,self2):
        return 20
    def __str__(self):
        return "30"
d1 = OwnDict([(1,2),(3,4),(5,6)])
d2 = OwnDict([(3,4),(7,8),(8,9)])
for i in d1:
    print(i)

1
3
5

In [44]:
class OwnDict(dict):
    def __add__(self1,self2):
        return 20
    def __str__(self):
        return "30"
    def __iter__(self):
        for i in range(3):
            yield i
d1 = OwnDict([(1,2),(3,4),(5,6)])
d2 = OwnDict([(3,4),(7,8),(8,9)])
for i in d1:
    print(i)

0
1
2

In [46]:
class OwnDict(dict):
    def __add__(self1,self2):
        return 20
    def __str__(self):
        return "30"
    def __iter__(self):
        for i in self.values():
            yield i
d1 = OwnDict([(1,2),(3,4),(5,6)])
d2 = OwnDict([(3,4),(7,8),(8,9)])
for i in d1:
    print(i)
print(d1.items())

2
4
6
dict_items([(1, 2), (3, 4), (5, 6)])

In [47]:
# sales.py: v3 ### v4
class Customer:
    def __init__(self,name,address):
        self.name=name
        self.address = address
    def create(self):
        pass
    def delivery(self):
        pass
    def addresschanage(self):
        pass
    
# installed sales.py in my project
# some extra functionalities: add phonenumber, email to the customer, it has to verify the data before going to create

In [48]:
# sales.py: v3
class Customer:
    def __init__(self,name,address,phone,email):
        self.name=name
        self.address = address
        self.phone=phone
        self.email = email
    def create(self):
        # add code to valildate
        pass
    def delivery(self):
        pass
    def addresschanage(self):
        pass
    # add extra functionalitites which you want.
    
# installed sales.py in my project
# some extra functionalities: add phonenumber, email to the customer, it has to verify the data before going to create

In [49]:
# consider the scenario sales.py v4 come up with lot off functionalities which you need in your project.
# if you install the new version, you lost your changes.
# aftter installtion you need to write your changes again.

In [ ]:
# sales.py: v3
class Customer:
    def __init__(self,name,address):
        self.name=name
        self.address = address
    def create(self):
        pass
    def delivery(self):
        pass
    def addresschanage(self):
        pass
    
# Ownsales.py
# from sales import Customer
class OwnCustomer(Customer):
    def __init__(self,name,address,phone,email):
        self.email=email
        self.phone=phone
        Customer.__init__(self, name, address)
        
    def create(self):
        # validation code
        Customer.create(self)
    # add your own operations.
# now if the sales guys release the new sales module v4. then you can install hapily, that wont effects your OwnCustomer class much.

In [2]:
class Emp:
    company_name="Khyaathi"
    def __init__(self, name):
        self.name=name
    def get(self): # instance method
        return self.name
    @classmethod
    def clm(cls): # class method
        print("this is class method")
        print(cls,)
    @staticmethod
    def sta(x,y):
        print("this is static method")
jay=Emp("jayaram")
jay.get() # Emp.get(jay)
jay.clm() # Emp.clm(Emp) because it's a class method, it will pass class object as first argument
Emp.clm() # Emp.clm(Emp)
jay.sta(10,20) # Emp.sta(10,20) it will not pass class/data object as a first argument, because it's a static method.
Emp.sta(10,20)

this is class method
<class '__main__.Emp'>
this is class method
<class '__main__.Emp'>
this is static method
this is static method

In [3]:
class Emp:
    company_name="Khyaathi"
    def __init__(self, name):
        self.name=name
    def get_emp(self):
        return self.name, self.company_name
    def get_company(self):
        return self.company_name
jay = Emp("jayaram")
print(jay.get_emp())
print(jay.get_company())

('jayaram', 'Khyaathi')
Khyaathi

In [5]:
class Emp:
    company_name="Khyaathi"
    def __init__(self, name):
        self.name=name
    def get_emp(self):
        return self.name, self.company_name
    
    @classmethod
    def get_company(self):
        return self.company_name
jay = Emp("jayaram")
print(jay.get_emp())
print(jay.get_company())

('jayaram', 'Khyaathi')
Khyaathi

In [6]:
class Emp:
    company_name="Khyaathi"
    def __init__(self, name):
        self.name=name
    def get_emp(self):
        return self.name, self.company_name
    def get_company(self):
        return self.company_name
jay = Emp("jayaram")
print(jay.get_emp())
print(jay.get_company())
vedha=Emp("Vedhanvesh")
sai=Emp("Sai laxmi")

('jayaram', 'Khyaathi')
Khyaathi

In [7]:
class Emp:
    company_name="Khyaathi"
    def __init__(self, name):
        self.name=name
    def get_emp(self):
        return self.name, self.company_name
    
    @classmethod
    def get_company(cls):
        return cls.company_name
jay = Emp("jayaram")
print(jay.get_emp())
print(jay.get_company())
vedha=Emp("Vedhanvesh")
sai=Emp("Sai laxmi")

('jayaram', 'Khyaathi')
Khyaathi

In [8]:
class Emp:
    def __init__(self, firstname, lastname):
        self.firstname = firstname
        self.lastname = lastname
        self.name = self.firstname + " " + self.lastname
jay = Emp("Guduru", "Jayaram")
vedha = Emp("Guduru", "Vedhanvesh")
print(jay.name)

Guduru Jayaram

In [9]:
class Emp:
    def __init__(self, firstname, lastname):
        self.firstname = firstname
        self.lastname = lastname
        self.name = self.firstname + " " + self.lastname
jay = Emp("Guduru", "Jayaram")
vedha = Emp("Guduru", "Vedhanvesh")
print(jay.name)
jay.firstname = "GUDURU"
print(jay.name)

Guduru Jayaram
Guduru Jayaram

In [10]:
class Emp:
    def __init__(self, firstname, lastname):
        self.firstname = firstname
        self.lastname = lastname
    def name(self):
        return self.firstname + " " + self.lastname
jay = Emp("Guduru", "Jayaram")
vedha = Emp("Guduru", "Vedhanvesh")
print(jay.name())
jay.firstname = "GUDURU"
print(jay.name())

Guduru Jayaram
GUDURU Jayaram

In [11]:
class Emp:
    def __init__(self, firstname, lastname):
        self.firstname = firstname
        self.lastname = lastname
        
    @property
    def name(self):
        return self.firstname + " " + self.lastname
jay = Emp("Guduru", "Jayaram")
vedha = Emp("Guduru", "Vedhanvesh")
print(jay.name)
jay.firstname = "GUDURU"
print(jay.name)

Guduru Jayaram
GUDURU Jayaram

In [13]:
class Emp:
    def __init__(self, firstname, lastname):
        self.firstname = firstname
        self.lastname = lastname
        self.name = self.firstname + " " + self.lastname
        
    def __setattr__(self, attr, value):
        print("this seteer")
        print(attr)
        print(value)
        
        
jay = Emp("Guduru", "Jayaram")
vedha = Emp("Guduru", "Vedhanvesh")
print(jay.name)
jay.firstname = "GUDURU"
print(jay.name)

this seteer
firstname
Guduru
this seteer
lastname
Jayaram

AttributeError: 'Emp' object has no attribute 'firstname'

In [14]:
class Emp:
    def __init__(self, firstname, lastname):
        self.firstname = firstname
        self.lastname = lastname
        self.name = self.firstname + " " + self.lastname
        
    def __setattr__(self, attr, value):
        
        return super(Emp,self).__setattr__(attr, value)
        
        
jay = Emp("Guduru", "Jayaram")
vedha = Emp("Guduru", "Vedhanvesh")
print(jay.name)
jay.firstname = "GUDURU"
print(jay.name)

Guduru Jayaram
Guduru Jayaram

In [17]:
class Emp:
    def __init__(self, firstname, lastname):
        self.firstname = firstname
        self.lastname = lastname
        #self.name = self.firstname + " " + self.lastname
        
    def __setattr__(self, attr, value):
        if attr == 'firstname':
            if 'lastname' in self.__dict__:
                super(Emp,self).__setattr__('name',value+ " "+ self.lastname)
        elif attr== "lastname":
            if 'firstname' in self.__dict__:
                super(Emp,self).__setattr__('name',self.firstname+ " "+ value)
        return super(Emp,self).__setattr__(attr, value)

        
        
jay = Emp("Guduru", "Jayaram")
vedha = Emp("Guduru", "Vedhanvesh")
print(jay.name)
jay.firstname = "GUDURU"
print(jay.name)

Guduru Jayaram
GUDURU Jayaram

In [19]:
class Emp:
    def __init__(self, firstname, lastname):
        self.firstname = firstname
        self.lastname = lastname
        #self.name = self.firstname + " " + self.lastname
        
    def __getattribute__(self, attribute):
        if attribute == "name":
            return self.firstname+ " " + self.lastname
        return super(Emp, self).__getattribute__(attribute)

        
        
jay = Emp("Guduru", "Jayaram")
vedha = Emp("Guduru", "Vedhanvesh")
print(jay.name)
jay.firstname = "GUDURU"
print(jay.name)

Guduru Jayaram
GUDURU Jayaram

In [ ]:
# single ton..