In [1]:
print("hello")
s="hello"
print(s)

hello
hello

In [3]:
a=10
b=20
print(a,b)

10 20

In [4]:
a=10
b=20
print(ab)

NameError: name 'ab' is not defined

In [5]:
a=10
b=20
print(a,b,sep="")

1020

In [6]:
a="pytohn"
b="program"
print(a,b,sep="")
print(a,b)

pytohnprogram
pytohn program

In [7]:
a=10
b=20
print(a,b)

10 20

In [8]:
a=10
b=20
print(a)
print(b)

10
20

In [9]:
a=10
b=20
print(a,end=",")
print(b)

10,20

In [10]:
s="India won the match over england."
s1="MLC elections are compled in TS."
print(s)
print(s1)

India won the match over england.
MLC elections are compled in TS.

In [11]:
s="India won the match over england."
s1="MLC elections are compled in TS."
print(s,s1)

India won the match over england. MLC elections are compled in TS.

In [12]:
s="India won the match over england."
s1="MLC elections are compled in TS."
print(s,"\n",s1)

India won the match over england.
 MLC elections are compled in TS.

In [13]:
print("\n")

In [14]:
s="India won the match over england."
s1="MLC elections are compled in TS."
print(s+"\n"+s1)

India won the match over england.
MLC elections are compled in TS.

In [15]:
print("sdfsdfsd\tsdfsdf")

sdfsdfsd	sdfsdf

In [16]:
print("\n")

In [17]:
print("\t")

In [18]:
print("\\n")

\n

In [19]:
print("\\t")

\t

In [20]:
s="sdfsdfsd\nsfds\nsdfsdfsd\nsdfsdf\nsdfsd\n"
print(s)

sdfsdfsd
sfds
sdfsdfsd
sdfsdf
sdfsd

In [21]:
s="sdfsdfsd\\nsfds\\nsdfsdfsd\\nsdfsdf\\nsdfsd\\n"
print(s)

sdfsdfsd\nsfds\nsdfsdfsd\nsdfsdf\nsdfsd\n

In [22]:
s=r"sdfsdfsd\nsfds\nsdfsdfsd\nsdfsdf\nsdfsd\n"
print(s)

sdfsdfsd\nsfds\nsdfsdfsd\nsdfsdf\nsdfsd\n

In [24]:
#name:jay, age:4, are: hyd
# jay is living in hyd area and he is 4 years old
name="jay"
age=4
area="hyd"
print(name,"is living in",area,"area and he is",age,"years old")

jay is living in hyd area and he is 4 years old

In [2]:
#name:jay, age:4, are: hyd
# The person name:jay, Age:4, Area:hyd
name="jay"
age=4
area="hyd"
print("The person name:",name,"Age:",age,"Area:",area)

The person name: jay Age: 4 Area: hyd

In [3]:
#name:jay, age:4, are: hyd
# The person name:jay, Age:4, Area:hyd
name="jay"
age=4
area="hyd"
print("The person name:"+name,"Age:"+age,"Area:"+area)

TypeError: can only concatenate str (not "int") to str

In [4]:
#name:jay, age:4, are: hyd
# The person name:jay, Age:4, Area:hyd
name="jay"
age=4
area="hyd"
print("The person name:"+name,"Age:"+str(age),"Area:"+area)

The person name:jay Age:4 Area:hyd

In [5]:
#name:jay, age:4, are: hyd
# The person name:jay, Age:4, Area:hyd
name="jay"
age=4
area="hyd"
print("The person name:%s, Age:%s, Area:%s",(name,age,area))

The person name:%s, Age:%s, Area:%s ('jay', 4, 'hyd')

In [6]:
#name:jay, age:4, are: hyd
# The person name:jay, Age:4, Area:hyd
name="jay"
age=4
area="hyd"
print("The person name:%s, Age:%s, Area:%s"%(name,age,area))

The person name:jay, Age:4, Area:hyd

In [7]:
#name:jay, age:4, are: hyd
# The person name:jay, Age:4, Area:hyd
name="jay"
age=4.23
area="hyd"
print("The person name:%s, Age:%s, Area:%s"%(name,age,area))

The person name:jay, Age:4.23, Area:hyd

In [8]:
#name:jay, age:4, are: hyd
# The person name:jay, Age:4, Area:hyd
name="jay"
age=4.23
area="hyd"
print("The person name:%s, Age:%s, Area:%s"%(name,int(age),area))

The person name:jay, Age:4, Area:hyd

In [9]:
#name:jay, age:4, are: hyd
# The person name:jay, Age:4, Area:hyd
name="jay"
age=4.23
area="hyd"
print("The person name:%s, Age:%d, Area:%s"%(name,age,area))

The person name:jay, Age:4, Area:hyd

In [11]:
s="sfsd\nsdfdsf\nsdfds\nsdfds\n\tsdfkls;dfk"
print(s)

sfsd
sdfdsf
sdfds
sdfds
	sdfkls;dfk

In [12]:
s=r"sfsd\nsdfdsf\nsdfds\nsdfds\n\tsdfkls;dfk"
print(s)

sfsd\nsdfdsf\nsdfds\nsdfds\n\tsdfkls;dfk

In [13]:
s="sfsd\nsdfdsf\nsdfds\nsdfds\n\tsdfkls;dfk"
print("%r"%s)

'sfsd\nsdfdsf\nsdfds\nsdfds\n\tsdfkls;dfk'

In [14]:
costprice=12.345678
print("The value of the good:%d"%costpricece)

The value of the good:12

In [17]:
costprice=12.34567853454
print("The value of the good:%f"%costprice)

The value of the good:12.345679

In [18]:
costprice=12.34567853454
print("The value of the good:%.3f"%costprice)

The value of the good:12.346

In [19]:
costprice=12.34567853454
print("The value of the good:%.2f"%costprice)

The value of the good:12.35

In [20]:
# template strings..
#name:jay, age:4, are: hyd
# The person name:jay, Age:4, Area:hyd
name="jay"
age=4.23
area="hyd"
print(f"The person name:{name}, Age:{age}, Area:{area}")

The person name:jay, Age:4.23, Area:hyd

In [21]:
# template strings..
#name:jay, age:4, are: hyd
# The person name:jay, Age:4, Area:hyd
name="jay"
age=4.23
area="hyd"
print(f"The person name:{name}, Age:{int(age)}, Area:{area}")

The person name:jay, Age:4, Area:hyd

In [23]:
# template strings..
#name:jay, age:4, are: hyd
# The person name:jay, Age:4, Area:hyd
name="jay"
age=4.23
area="hyd"
print(f"The person name:{name}, Age:{age:f}, Area:{area}")

The person name:jay, Age:4.230000, Area:hyd

In [25]:
# template strings..
#name:jay, age:4, are: hyd
# The person name:jay, Age:4, Area:hyd
name="jay"
age=4.2323342
area="hyd"
print(f"The person name:{name}, Age:{age:.2f}, Area:{area}")

The person name:jay, Age:4.23, Area:hyd